<html>
	<head>
		<title>Modifica Dati Pagamento</title>
		<h1>Gestione Profilo</h1>
		<link rel="stylesheet" href="StilePag.css" />
	</head>
	<body>
		<form method="POST" th:action="@{/AggiungiPagamento}" th:object="${cartaDiCreditoForm}" >
		<h2>Dati Pagamento</h2><br>
		<div class="pagamento">
			Numero Carta: <input type="text" name="textname"  ><br> 
			CVV/CVV2: <input type="text" name="textname"   ><br> 
			Data di Scadenza: <input type="date"  ><br> 
			Titolare Carta: <input type="textname"  ><br> 
			
		</div>

		<input type="submit" class="bottone" value="salva" >
	
	</form>
	</body>
</html>