<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> 
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Modifica Dati</title>
        
        <link href="/css/CSSGestioneProfilo.css" rel="stylesheet " type="text/css">
    </head>
   
    <body>
     <div class="dropdown">
                        <button class="dropbtn">Il mio profilo</button>
                        <div class="dropdown-content">
                          <a href="/GestioneProfilo">Gestisci Profilo</a>
                          <a href="/GestionePagamento">Gestisci pagamento</a>
                          <a href="#">I miei acquisti</a>
                          </div> 
                        </div>
        
        <div id="fullscreen_bg" class="fullscreen_bg">
         <div class="container-fluid banner">
            
        <div class="row">
          <div class="col-md-12">
                        
            <nav class="navbar navbar-md">
                            
            <div class="navbar-brand">ShareYourWorld</div>
                            
            <ul class="nav">
                            
            <li class="nav-item">
                                
                <a class="nav-link" href="/HomePage_Accesso">HOME</a>
                                
                 </li>
                            
                 <li class="nav-item">
                                
                   <a class="nav-link" href="#">PROFILO</a>
                                
                   </li>
                            
                    <li class="nav-item">
                                
                    <a class="nav-link" href="#">MESSAGGI</a>
                                
                    </li>
                            
                    <li class="nav-item">
                                
                    <a class="nav-link" href="#">HOME</a>
                                
                    </li>
                            
                    </ul>
                        
                     </nav>
                       
                        
                        
                    </div>

        <div class="container">  
            
	<form class="form-signin" th:action="@{/GestioneProfilo}" method="POST" th:object="${gestioneProfiloForm}">
				<p>Scheda personale</p>
	
	      <label for="lname">Nome: </label><br>
        <input type="text" id="lname" th:field="*{nome}"th:text="${nome}" ></input><br>
        <p1 th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" />

        <label for="aname">Cognome: </label><br>
        <input type="text" id="lname" th:field="*{cognome}" th:text="${cognome}" ></input><br>
        <p2 th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}" />	

	      <label for="bname">Username: </label><br>
        <input type="text" id="lname" th:field="*{username}"th:text="${username}" ></input><br>
        <p3 th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />

				<label for="cname">E-mail:</label><br>
        <input type="text" id="lname" th:field="*{email}" th:text="${email}"></input><br>
        <p4 th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />

				<label for="dname">Password:</label><br>
        <input type="text" id="lname" th:field="*{password}" th:text="${password}" ></input><br> 
        <p5 th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />



       	<input type="submit" id= "btt" class="btn btn-primary" value="invia">
      </form>
        
        </div>
 
    </body>

</html>    