<html>
	<head>
		<title>GestioneAbbonamento</title>
		<link rel="stylesheet" type="text/css" href="StilePag.css" />
		<h1>Gestisci Profilo</h1>
	</head>
	<body>
		<h2>Dati Abbonamento</h2>
		<h3>Scegli tipo di abbonamento</h3>
		<div class="dropdown">
			<button class="dropbtn">Dropdown</button>
			<div class="dropdown-content">
				<a href="#">Free</a>
				<a href="#">Silver</a>
				<a href="#">Gold</a>
			</div>
		</div>
		<h4>Inserisci modalità di pagamento</h4>
		<a href="AggiungiPagamento.html">
			<button class="pagamento">Aggiungi carta</button>
		</a>
	
	
	</body>



</html>