<html>
	<head>
		<title>Modifica Dati Pagamento</title>
		<h1>Gestione Profilo</h1>
		<link rel="stylesheet" href="StilePag.css" />
	</head>
	<body>
	 <div class="dropdown">
                        <button class="dropbtn">Il mio profilo</button>
                        <div class="dropdown-content">
                          <a href="/GestioneProfilo">Gestisci Profilo</a>
                          <a href="/GestionePagamento">Gestisci pagamento</a>
                          <a href="#">I miei acquisti</a>
                          <a href="/LogIn">logout</a>
                          </div> 
                        </div>
		
		<h2>Dati Pagamento</h2><br>
		<div class="pagamento">
			<label for="fname">Nome Titolare: </label><br>
        	<label id="lname" th:text="${loggedUser.cartaDiCredito.datiProprietario}"></label>
        	<label for="fname">Numero Carta: </label><br>
        	<label id="lname" th:text="${loggedUser.cartaDiCredito.numero}"></label>
        	<label for="fname">CVV: </label><br>
        	<label id="lname" th:text="${loggedUser.cartaDiCredito.cv}"></label>
			<label for="fname">Data Scadenza: </label><br>
			<label id="lname" th:text="${loggedUser.cartaDiCredito.dataScadenza}"></label>
	
		</div>

		<p1>Se vuoi cambiare carta di credito<a href="/AggiungiPagamento">Clicca qui</a></p1>
	

	</body>
</html>