<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>HomePageAccesso</title>
        
        <link href="/css/HomePage_Accesso.css" rel="stylesheet " type="text/css">
    </head>
   
    <body>
        <div class="vl"></div> 
        
        <div id="fullscreen_bg" class="fullscreen_bg">
         <div class="container-fluid banner">
            
        <div class="row">
          <div class="col-md-12">
                        
            <nav class="navbar navbar-md">
                            
            <div class="navbar-brand">ShareYourWorld</div>
                            
            <ul class="nav">
                            
            <li class="nav-item">
                                
                <a class="nav-link" href="#">HOME</a>
                                
                 </li>
                            
                 <li class="nav-item">
                                
                   <a class="nav-link" href="#">PROFILO</a>
                                
                   </li>
                            
                    <li class="nav-item">
                                
                    <a class="nav-link" href="#">MESSAGGI</a>
                                
                    </li>
                            
                    <li class="nav-item">
                                
                    <a class="nav-link" href="#">HOME</a>
                                
                    </li>
                            
                    </ul>
                        
                     </nav>
                       
                        
                        
                    </div>

                
                <div class="contenitore2">
                    
                    <div class="blocco1">
                        
                       <a href="blog_HomePage.html" class="btn btn-md text-center"></a>
                        <a href="blog_HomePage.html" class="btn btn-md text-center"><p1>FORUM</p1> <img src="Immagini/Forum.png" alt="" width="20%" height="auto" id="immagineforum"></a>
                        
                    </div>
                    
                    <div class="blocco2">
                        
                        <a href="catalogo.HomePage.html" class="btn btn-md text-center"><img src="Immagini/libro.png" id="immaginelibro"></a>
                        <a href="catalogo_HomePage.html" class="btn btn-md text-center"><p>CATALOGO</p></a>
                        
                        
                    
                    </div>
                    
                    
                
                </div>
                
               
            </div>
            
            
            
            </div>
           
    
    
    
    </body>



</html>