<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://www.dafont.com/it/sambi-lemon.font">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> 
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Pagina di LogIn</title>
        <script src="LogInFunction.js"></script>
        <link href="css/CSSLogIn.css" rel="stylesheet " type="text/css">
    </head>
   
    <body>
        
        <div id="fullscreen_bg" class="fullscreen_bg">
         <div class="container-fluid banner">
            
        <div class="row">
          <div class="col-md-12">
                        
            <nav class="navbar navbar-md">
                            
            <div class="navbar-brand">ShareYourWorld</div>
                            
            <ul class="nav">
                            
            <li class="nav-item">
                                
                <a class="nav-link" href="#">HOME</a>
                                
                 </li>
                            
                 <li class="nav-item">
                                
                   <a class="nav-link" href="#">PROFILO</a>
                                
                   </li>
                            
                    <li class="nav-item">
                                
                    <a class="nav-link" href="#">MESSAGGI</a>
                                
                    </li>
                            
                    <li class="nav-item">
                                
                    <a class="nav-link" href="#">HOME</a>
                                
                    </li>
                            
                    </ul>
                        
                     </nav>
                       
                        
                        
                    </div>

        <div class="container">
        
            <form class="form-signin" th:action="@{/LogIn}" method="POST" th:object="${logInForm}">
                <p>Accedi</p>
                <input type="text" id="txtusn" class="form-control" name="username" value="" placeholder="Username" ><br>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                <input type="password" id="txtpsw" class="form-control" name="password" value="" placeholder="Password" ><br>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
                <button class="btn btn-lg btn-primary btn-block"  type="submit" >
                    Accedi
                </button>

                <p1>Hai dimenticato la password?<a href = "/CambiaPassword"> Clicca qui</a></p1>
                <div id="opp">oppure</div><br><br>
                <a href="/registrazione" class="btn btn-lg btn-primary btn-block">Registrati</a>
             </form>
        
        </div>
    </body>

</html>    