<html>
    
    <head>
        
        <meta charset="utf-8">
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="Pagina_chat.css">
            
    </head>
    
    <body>
        
        <div id="chat-container">
            
            <div id="search-container">
                
                <input type="text" placeholder="Cerca">
            
            </div>
            
            <div id="conversation-list">
                
                <div class="conversation active">
                    
                    <img src="user.png" alt="Nome Persona" height="45" width="45">
                    <div class="title-text">
                    Nome Persona
                    </div>
                    <div class="created-date">
                    07 aprile 2020
                    </div>
                    <div class="conversation-message">
                    Ciao Come stai?   
                    </div>
                
                </div>
                <div class="conversation active">
                    
                    <img src="user.png" alt="Nome Persona" height="45" width="45">
                    <div class="title-text">
                    Nome Persona
                    </div>
                    <div class="created-date">
                    07 aprile 2020
                    </div>
                    <div class="conversation-message">
                    Ciao Come stai?   
                    </div>
                
                </div>
                
                <div class="conversation active">
                    
                    <img src="user.png" alt="Nome Persona" height="45" width="45">
                    <div class="title-text">
                    Nome Persona
                    </div>
                    <div class="created-date">
                    07 aprile 2020
                    </div>
                    <div class="conversation-message">
                    Ciao Come stai?   
                    </div>
                
                </div>
            
                <div class="conversation active">
                    
                    <img src="user.png" alt="Nome Persona" height="45" width="45">
                    <div class="title-text">
                    Nome Persona
                    </div>
                    <div class="created-date">
                    07 aprile 2020
                    </div>
                    <div class="conversation-message">
                    Ciao Come stai?   
                    </div>
                
                </div>
                
                <div class="conversation active">
                    
                    <img src="user.png" alt="Nome Persona" height="45" width="45">
                    <div class="title-text">
                    Nome Persona
                    </div>
                    <div class="created-date">
                    07 aprile 2020
                    </div>
                    <div class="conversation-message">
                    Ciao Come stai?   
                    </div>
                
                </div>
                
                <div class="conversation active">
                    
                    <img src="user.png" alt="Nome Persona" height="45" width="45">
                    <div class="title-text">
                    Nome Persona
                    </div>
                    <div class="created-date">
                    07 aprile 2020
                    </div>
                    <div class="conversation-message">
                    Ciao Come stai?   
                    </div>
                
                </div>
                
            
            
            </div>
            
            <div id="new-message-container">
                
                <a href="#">+</a>
            
            </div>
            
            <div id="chat-title">
                
                <span>Nome Persona</span>
                <img src="trash.png" alt="Delete Conversation"/> 
                
            </div>
            
            <div id="chat-message-list">
                
                <div class="message-row you-message">
                    
                    <div class="message-content">
                        
                        <div class="message-text">OK BELLA</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                    </div>
                    
                    
                
                </div>
                
                <div class="message-row other-message">
                    
                    <div class="message-content">
                        
                         <img src="user.png" alt="Nome Persona" width="40" height="40">
                    
                    
                    
                        <div class="message-text">dhwrhwrhwrhwrhrhwrhwrhwrhwr
                        hwrhwrhwrhwrhwrh
                        wrhwrhwrhwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                </div>
                    
                   
                
            </div>
                
                <div class="message-row you-message">
                    
                    <div class="message-content">
                        
                        <div class="message-text">OK BELLA</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                    </div>
                    
                    
                
                </div>
                
                <div class="message-row other-message">
                    
                    <div class="message-content">
                        
                         <img src="user.png" alt="Nome Persona" width="40" height="40">
                    
                    
                    
                        <div class="message-text">dhwrhwrhwrhwrhrhwrhwrhwrhwr
                        hwrhwrhwrhwrhwrh
                        wrhwrhwrhwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                </div>
                    
                   
                
            </div>
                
                <div class="message-row you-message">
                    
                    <div class="message-content">
                        
                        <div class="message-text">OK BELLA</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                    </div>
                    
                    
                
                </div>
                
                <div class="message-row other-message">
                    
                    <div class="message-content">
                        
                         <img src="user.png" alt="Nome Persona" width="40" height="40">
                    
                    
                    
                        <div class="message-text">dhwrhwrhwrhwrhrhwrhwrhwrhwr
                        hwrhwrhwrhwrhwrh
                        wrhwrhwrhwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                </div>
                    
                   
                
            </div>
                
                <div class="message-row you-message">
                    
                    <div class="message-content">
                        
                        <div class="message-text">OK BELLA</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                    </div>
                    
                    
                
                </div>
                
                <div class="message-row other-message">
                    
                    <div class="message-content">
                        
                         <img src="user.png" alt="Nome Persona" width="40" height="40">
                    
                    
                    
                        <div class="message-text">dhwrhwrhwrhwrhrhwrhwrhwrhwr
                        hwrhwrhwrhwrhwrh
                        wrhwrhwrhwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                        <div class="message-time">7 Aprile 2020</div>
                    
                </div>
                    
                   
                
            </div>
                
                
                
            </div>>
            
            <div id="chat-form">
                
                <img src="attach.png" alt="Add Attachment" height="30" width="30">
                <input type="text" placeholder="Scrivi il messaggio.."> 
            
            
            </div>
            
            
        
        </div>
    
    
    </body>


</html>
