<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">         <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Registrati</title>
        <link href="css/CSSRegistrazione.css" rel="stylesheet " type="text/css">
    </head>
   
    <body>
        <div id="fullscreen_bg" class="fullscreen_bg">
            <div id="fullscreen_bg" class="fullscreen_bg">
                <div class="container-fluid banner">
                   
               <div class="row">
                 <div class="col-md-12">
                               
                   <nav class="navbar navbar-md">
                                   
                   <div class="navbar-brand">ShareYourWorld</div>
                                   
                   <ul class="nav">
                                   
                   <li class="nav-item">
                                       
                       <a class="nav-link" style="color: black;" href="/index">HOME</a>
                                       
                        </li>
                                   
                        <li class="nav-item">
                                       
                          <a class="nav-link" style="color: black;" href="/GestioneProfilo">PROFILO</a>
                                       
                          </li>
                                   
                           <li class="nav-item">
                                       
                           <a class="nav-link" style="color: black;" href="/Pagina_chat">MESSAGGI</a>
                                       
                           </li>
                                   
                           <li class="nav-item">
                                       
                           <a class="nav-link" style="color: black;" href="/Contattaci">CONTATTACI</a>
                                       
                           </li>
                                   
                           </ul>
                               
                            </nav>
                              
                               
                               
                           </div>
       

        <div class="container">
        
            <form class="form-signin" th:action="@{/registrazione}" method="POST" th:object="${registrationForm}">
                <p>Registrati</p>
                <input type="text" id="txtname" class="form-control" name="nome" value="" placeholder="Nome" th:field="*{nome}">
                <input type="text" id="txtlastnm" class="form-control" name="cognome" value="" placeholder="Cognome" th:field="*{cognome}">
                <input type="text" id="txtusn" class="form-control" name="username" value="" placeholder="Username" th:field="*{username}">
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                <input type="password" id="txtpsw" class="form-control" name="password" value="" placeholder="Password" th:field="*{password}">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
                <input type="password" id="txtpswcontrollo" class="form-control" name="passwordControllo" value="" placeholder="Ripeti password" th:field="*{confPassword}">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
                <input type="text" id="txtemail" class="form-control" name="email" value="" placeholder="E-mail" th:field="*{email}"> <br>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="javascript:LogInFunction()">
                    Registrati
                </button>
            </form>
        
        </div>
    </body>

</html>    