<html>
    <head>
		<link rel="stylesheet" type="text/css" href="https://www.dafont.com/it/sambi-lemon.font">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> 
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Scelta catalogo</title>
        
        <link href="css/sceltacatalogo.css" rel="stylesheet " type="text/css">
        <title>SceltaCatalogo</title>
        <h1>A cosa vuoi accedere?</h1>
    </head>
    <body>
     <div class="dropdown">
                        <button class="dropbtn">Il mio profilo</button>
                        <div class="dropdown-content">
                          <a href="/GestioneProfilo">Gestisci Profilo</a>
                          <a href="/GestionePagamento">Gestisci pagamento</a>
                          <a href="#">I miei acquisti</a>
                          <a href="/LogIn">logout</a>
                          </div> 
                        </div>
		<div id="fullscreen_bg" class="fullscreen_bg">
			<div class="container-fluid banner">
			   
		   <div class="row">
			 <div class="col-md-12">
						   
			   <nav class="navbar navbar-md">
							   
			   <div class="navbar-brand">ShareYourWorld</div>
							   
			   <ul class="nav">
							   
			   <li class="nav-item">
								   
				   <a class="nav-link" style="color: black;" href="/HomePage_Accesso">HOME</a>
								   
					</li>
							   
					<li class="nav-item">
								   
					  <a class="nav-link" style="color: black;" href="/GestioneProfilo">PROFILO</a>
								   
					  </li>
							   
					   <li class="nav-item">
								   
					   <a class="nav-link" style="color: black;" href="Pagina_chat">MESSAGGI</a>
								   
					   </li>
							   
					   <li class="nav-item">
								   
					   <a class="nav-link" style="color: black;" href="/Contattaci">CONTATTACI</a>
								   
					   </li>
							   
					   </ul>
						   
						</nav>
						  
						   
						   
					   </div>

		<a href="/BarraRicerca"> <img src="Immagini/ipad.png" id= "immaginelibro" alt="" > </a>			   
				   	
        <div id="libro">
			<p>E-Book</p>
		</div>


		<a href="/BarraRicerca"> <img src="Immagini/musica.png" id = "immaginemusica" alt=""></a>	


		<div id="musica">
		<p>Musica</p>
		</div>


		<a href="/BarraRicerca"><img src="Immagini/manga.png" id= "immaginemanga" alt=""></a>


		<div id="anime">
		</a>
		<p>Anime/Manga</p>
		</div>




    </body>


</html>