h1{
	text-align:center;
}

.testo{
	margin-left:570px;
	margin-top:-210px;
}

.profilo{
	margin-top:50px;
}

.bottone{
	margin-top:100px;
	margin-left:1250px;
}

p{
	margin-top:50px;
}

.pagamento{
	margin-top:50px;
	margin-left:570px;
}
