
body {
    padding-top: 120px;
    padding-bottom: 40px;
    background-image: url(/Immagini/sfondoprincipale.jpg);
    
  }
  @font-face {
    font-family: 'sea_horsesregular';
    src: url('fonts/sea_horses-webfont.woff2') format('woff2'),
         url('fonts/sea_horses-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.banner{
  height: 100vh;
  width: 100%;

  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background:url('esempio-finitura-Supermatt-Grigio-Chiaro.jpg');/
  background-repeat: no-repeat;

}

.banner .navbar{
  margin-top: 1%;
  
}

.banner .navbar-brand{
  font-family: "sea_horsesregular";
  color: black;
  font-size: 60px;
  font-weight: 700;
  margin-left: 1%;
  
}

.banner .nav{
  margin-right: 10%;
  
}

.banner .nav li a{
  color: #aaa;
  font-size: 1.2em;
  
}

.banner .info{
  margin-top:15%;
  transform: translateY(-15%);
}
  .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
  }
    .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
 
  }

    
  .center{
    justify-content: center !important;
    display: flex!important;

}

.outter_search_box{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    border:1px solid black;
    width:450px;
    box-shadow:0px 1px 3px transparent;
    transition: width 0.4s linear ;

}

.searchbar{
    border:none;
    background-color: transparent;
}

.form-control:focus {
    outline:none;
    box-shadow: none;
}

.outter_search_box:focus-within {
  
    width:600px;
    transition: width 0.4s linear;
    border: 1px solid #ccc;
}




      