
body {
    padding-top: 120px;
    padding-bottom: 40px;
    background-image: url("/Immagini/sfondoprincipale.jpg");
    
  }

  @font-face {
    font-family: 'sea_horsesregular';
    src: url('fonts/sea_horses-webfont.woff2') format('woff2'),
         url('fonts/sea_horses-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.banner{
  height: 100vh;
  width: 100%;

  background-position: top;
  background-size: cover;
  background-attachment: fixed;/
  background:url('esempio-finitura-Supermatt-Grigio-Chiaro.jpg');/
  background-repeat: no-repeat;

}

.banner .navbar{
  margin-top: 1%;
  
}

.banner .navbar-brand{
 font-family: "sea_horsesregular";
  color: black;
  font-size: 60px;
  font-weight: 700;
  margin-left: 1%;
}

.banner .nav{
  margin-right: 10%;
  
}

.banner .nav li a{
  color: #aaa;
  font-size: 1.2em;
  
}

.banner .info{
  margin-top:15%;
  transform: translateY(-15%);
}
  .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
  }
  p
  {
      src: url("http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin");
      font-size: 30px;
      color: grey; 
      font-family: Ubuntu;

      left: 200px;
      text-align: center;
  }
  .btn:focus
  {
   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
  }
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    
  }
  .form-signin {
    max-width: 250px;
    padding: 15px;
    margin: 10 auto;
    margin-top:50px;
    
  }

  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 240px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[name="username"] {
    margin-bottom: -5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin input[name="password"] {
    margin-bottom: -5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);


  }
  
  
  .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
   
  }
  p1{
    font-family: Ubuntu;
    font-size: 11px;
    position: relative;
    left: 11px;
  }
  #opp{
    font-family: Ubuntu;
    font-size: 13px;
    position: relative;
    top: 20px;
    left: 85px;
    color: grey;

  }