<html>
	<head>
		<title>Modifica Dati Pagamento</title>
		<h1>Gestione Profilo</h1>
		<link rel="stylesheet" href="StilePag.css" />
	</head>
	<body>
		<form method="GET" action="nomeServlet" >
		<h2>Dati Pagamento</h2><br>
		<div class="pagamento">
			Numero Carta: <input type="text" name="textname" placeholder="numero carta" ><br> 
			<p th:if="${#fields.hasErrors('numeroCarta')}" th:errors="*{numeroCarta}" />
			CVV/CVV2: <input type="text" name="textname" placeholder="cvv/cvv2" ><br> 
			<p th:if="${#fields.hasErrors('codiceCarta')}" th:errors="*{codiceCarta}" />
			Data di Scadenza: <input type="data" placeholder="data" ><br> 
			<p th:if="${#fields.hasErrors('dataScad')}" th:errors="*{dataScad}" />
			Titolare Carta: <input type="textname" placeholder="nome e cognome" ><br> 
			<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" />
			Email Conferma: <input type="textname" placeholder="email titolare" ><br> 
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
		</div>

		<input type="submit" class="bottone" value="salva" >
	
	</form>
	</body>
</html>